@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/CustomFont.woff2') format('woff2'),
         url('/fonts/CustomFont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }